<h1>Shipment Info</h1>
<h2>Your casket:</h2>
<h4>Length: <%= @length %> inches</h4>
<h4>Width: <%= @width %> inches</h4>
<h4>Height: <%= @height %> inches</h4>
<h4>Weight: <%= @width %> pounds</h4>
<h2>$ <%= @price_to_transport %></h2>
<hr style="border: 1px solid black">
<h4><a href="./">Ship another casket</a></h4>
